[submodule "aima-data"]
	path = aima-data
	url = https://github.com/aimacode/aima-data.git
[submodule "commonroad-search"]
	path = commonroad-search
	url = https://gitlab.lrz.de/tum-cps/commonroad-search.git
